* {
    margin: 0;
    padding: 0;

}
h3.course-title {
    color: #FFFFFF;
    font-size: 2.25rem;
    padding: 4px;
    display: block;
    margin-top: 28px;
    border-bottom: #FFFFFF 8px double;
    border-top: #FFFFFF 8px double;
    box-sizing: border-box;
    text-align: center;
    background: #787878;
    z-index: 8;
}
h5.course-current, h5.course-soon {
    color: #FFFFFF;
    font-size: 1.75rem;
    padding: 4px;
    display: block;
    margin-top: 4px;
    border-bottom: #FFFFFF 8px double;
    border-top: #FFFFFF 8px double;
    box-sizing: border-box;
    text-align: center;
    background: #787878;
    z-index: 8;
}


.slider-wrapper {
    margin: 8px auto;
    width: 90%;
    max-height: 70vh;
    background: grey;
    border-radius: 36px;
    border: #FFFFFF 8px double;
    display: flex;
    align-items: center;
    flex-direction: column;justify-content: space-between;
    text-align: center;
}

.slider-title {
    display: block;
    font-size: 2rem;
    width: 100%;
    padding: 4px;
    color: #FFFFFF;

}
.slider-body {
    display: block;
    width: 90%;
    padding: 8px;
    margin: auto;
    border: white 2px solid;
    border-radius: 30px;
    font-size: 1.5rem;
    text-align: justify;
}

.slider-video {
    width: 90%;
    margin: 20px auto;
    border: 4px white double;
    border-radius: 8px;
    max-height: 45vh;

}

.swiper-button-next {
    color: red;
}


.submit {
    position: absolute;
    top: 300px;
}

.main-wrapper {
    width: 96%;
    max-height: 70%;
    margin: 0 auto;
    border: white 4px double;
    border-radius: 40px;
    background: grey;
}

span.swiper-pagination-bullet {
    width: 16px;
    height: 16px;

}
span.swiper-pagination-bullet-active {
   color: white;
   font-size: 16px;
}

div.swiper-button-next, div.swiper-button-prev {
    color: grey;

}

.slider-about__wrapper {
    margin: 8px auto 0;
    width: 90%;
    background: grey;
    border-radius: 36px;
    border: #FFFFFF 8px double;
    display: flex;
    align-items: center;
    flex-direction: column;justify-content: space-between;
    text-align: center;
}

.slider-about__title {
    display: block;
    font-size: 1.75rem;
    width: 100%;
    padding-top: 4px;
    color: #FFFFFF;

}
.slider-about__body {
    display: block;
    width: 96%;
    padding: 8px;
    margin: 0;
    font-size: 1.45rem;
    border: white 2px solid;
    border-radius: 30px;
    text-align: justify;
}
.slider-about__img {
    display: block;
    max-width: 30vw;
    max-height: 20vh;
    padding: 8px;
    margin: 0;
    text-align: justify;
}

.slider-about__note {
    color: red;
    background: burlywood;
    border: #FFFFFF 2px solid;
    border-radius: 4px;
    margin-top: 4px;
}



.slider-about__wrapper_soon {
    margin: 4px auto 10px;
    width: 90%;
    background: grey;
    border-radius: 36px;
    border: #FFFFFF 8px double;
    display: flex;
    align-items: center;
    flex-direction: column;justify-content: space-between;
    text-align: center;
}

.slider-about__title_soon {
    display: block;
    font-size: 1.4rem;
    width: 100%;
    color: #FFFFFF;

}
.slider-about__body_soon {
    display: block;
    width: 80%;
     margin: 0;
    background: burlywood;
    color: #CB2424;
    font-size: 1.5rem;
    border: white 2px solid;

    border-radius: 30px;
    text-align: center;
}
.slider-about__img_soon {
    display: block;
    max-width: 16vw;
    max-height: 16vh;
    padding: 8px;
    margin: 0;
    text-align: justify;
}

.slider-about__note_soon {
    color: red;
}

@media screen and (max-width: 1024px) {

    .slider-wrapper {
        width: 100%;
        height: 100%;
    }
    .slider-about__img_soon {
        max-width: 40vw;
    }

    .slider-about__img {
        max-width: 80vw;
    }


}