* {
    margin: 0;
    padding: 0;

}
.slider-wrapper {
    text-align: center;
    font-size: 18px;
    margin: 150px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.swiper-wrapper {
 height: 80%;
}

body {
   height: 95vh;
    background: aqua;
}

h3 {
    display: block;
    position: fixed;
    top: 40px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background: #787878;
    padding: 10px;
    z-index: 8;

}


.slider-wrapper p {
    display: block;
    margin: auto;
    width: 80%;
    font-size: 30px;
    border: aqua 2px solid;
}


.slider-wrapper video {
    display: block;
    height: 60%;
    margin: auto;
    border: blue 2px solid;
}

.slider-title {
    display: block;
    margin: auto;
    height: 5vh;
}
.slider-body {
    display: block;
    margin: 0 auto;
    height: 20vh;
}

.slider-container {
    width: 100%;
    height: 600px;
    border: red 2px solid;
    align-items: center;
    align-self: center;

}

